# فایل‌های مخصوص macOS
.DS_Store
.AppleDouble
.LSOverride

# آیکون‌های پوشه‌ها (Icon\r در واقع یک فایل با نام خاص است)
/Icon?
Icon\r

logo

# فایل‌های پشتیبان
*.bak
*.swp
*.tmp

# فایل‌های منابع سیستمی اضافی
._*

# Spotlight
.Spotlight-V100

# سیستم پشتیبان‌گیری Time Machine
.TemporaryItems
.Trashes
.VolumeIcon.icns

# فایل‌های Cache از macOS
.fseventsd

#python caches
backend/core/migrations
backend/core/__pycache__
backend/config/__pycache__

#vscode config
.vscode

backend/assets/
backend/crypton_db
backend/db.sqlite3
backend/env/
backend/reprot_result.html